html {
  background-color: #fff;
}
ion-content {
    top: 0 !important;
}
 .app {
  position: relative;
  height: 100%;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.Center-Container {
  position: relative;
}
.Absolute-Center {
  width: 68%;
  height: 30%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
.Absolute-Center.is-Responsive {
  width: 90%;
  height: 60%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
}
.Absolute-Center.is-Image {
  text-align: center;
  vertical-align:middle;
}
.Absolute-Center.is-Image img {
  width: 100%;
  height: auto;
}
.tc-light-blue-A700 {
    color: #0091EA!important;
}
.mainList a {
	text-decoration: none;
}
.comments {
	width:100%;
	overflow:auto;
}
.bar-footer {
    height:3.2em;
}

.iconfontColor {
	color: #387ef5;
}
.iconfont {
	color: #387ef5;
}
.iconfont-assertive {
	color: #ef473a;
}

.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}

.loader {
  position: relative;
  margin: 0px auto;
  width: 100px;
  height: 100px;
  zoom: 1.7; }

.circular {
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  height: 100px;
  position: relative;
  width: 100px; }
.path {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round; }
@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35; }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124; } }
@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35; }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124; } }
@-webkit-keyframes color {
  100%, 0% {
    stroke: #d62d20; }
  40% {
    stroke: #0057e7; }
  66% {
    stroke: #008744; }
  80%, 90% {
    stroke: #ffa700; } }
@keyframes color {
  100%, 0% {
    stroke: #d62d20; }
  40% {
    stroke: #0057e7; }
  66% {
    stroke: #008744; }
  80%, 90% {
    stroke: #ffa700; } }

@media screen and (max-width: 1199px) { /*<1200的设备*/
	.mainImg {
		width: 16%;
	}
}
@media screen and (max-width: 991px) { /*<992的设备*/
	.mainImg {
		width: 32%;
	}
}
@media screen and (max-width: 767px) { /*<768的设备*/
	.mainImg {
		width: 80%;
	}
}@media screen and (min-width: 1200px) { /*>1200的设备*/
	.mainImg {
		width: 14%;
	}
}
